#galery {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: auto;
  position: relative;
  top: 0px;
  a {
    max-width: 30vw;
  }

  img {
    height: auto;
    width: 100%;
  }
}
