@import "./Font.scss";

.head-bar {
  font-size: 36px;
  line-height: 36px;
  margin: 0px;
  padding: 0px;
  padding-bottom: 4px;

  font-family: $title-font;

  display: flex;
  justify-content: space-between;

  #page-title {
    font-family: $big-font;
  }
}
