@import "./Font.scss";

$line-height: 72px;

#overview-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 5s linear;
  background-color: #ffffff;
}

.horz-scroll {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.link-marquee {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  align-items: flex-start;
  font-family: $big-font;
  font-size: $line-height;
  line-height: $line-height;
  height: 72px;
  margin-bottom: 1rem;

  li {
    flex-basis: content;
    display: inline-block;

    a {
      font-size: 100%;
      text-decoration: none;
      width: content;
      white-space: nowrap;

      img {
        max-height: $line-height;
        width: auto;
        height: auto;
      }

      &::after {
        content: ";";
        margin-right: 1rem;
      }
    }

    &:last-child::after {
      content: "";
    }
  }
}
