@import "./Font.scss";

$line-height: 72px;

#overview-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-110%);
  }
}

.horz-scroll {
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.link-marquee {
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  align-items: flex-start;
  font-family: $big-font;
  font-size: $line-height;
  line-height: $line-height;
  height: 72px;
  margin-bottom: 1rem;
  &:hover {
    animation: marquee 15s linear infinite;
  }

  li {
    flex-basis: content;
    display: inline-block;

    &::after {
      content: ";";
      margin-right: 1rem;
    }

    a {
      font-size: 100%;
      text-decoration: none;
      width: content;
      white-space: nowrap;

      img {
        max-height: $line-height;
        width: auto;
        height: auto;
      }
    }
    &:last-child::after {
      content: "";
    }
  }
}
